#magnitudes
	now: "now"
	1_second: "1 second"
	seconds:  "%d seconds"
	1_minute: "1 minute"
	minutes:  "%d minutes"
	1_hour:   "1 hour"
	hours:    "%d hours"
	1_day:    "1 day"
	days:     "%d days"
	1_week:   "1 week"
	weeks:    "%d weeks"
	1_month:  "1 month"
	months:   "%d months"
	1_year:   "1 year"
	years:    "%d years"
	longtime: "a long while"

#indicators
	before: "ago" suffix
	later:	"from now" suffix
	
#ordinals
	%10 1: "st"
	%10 2: "nd"
	%10 3: "rd"
	%100 11 
	%100 12 
	%100 13 
	%%:    "th"
