#magnitudes
	now: "şimdi"
	1_second: "1 saniye"
	seconds:  "%d saniye"
	1_minute: "1 dakika"
	minutes:  "%d dakika"
	1_hour:   "1 saat"
	hours:    "%d saat"
	1_day:    "1 gün"
	days:     "%d gün"
	1_week:   "1 hafta"
	weeks:    "%d hafta"
	1_month:  "1 ay"
	months:   "%d ay"
	1_year:   "1 yıl"
	years:    "%d yıl"
	longtime: "uzun süre"

#indicators
	before: "önce" suffix
	later:  "sonra" suffix

#ordinals
	%%: "."
